body{
    margin: 0;
}
.contenedor {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.centrar {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.row2 {
    width: 100%;
    clear: both; 
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;    
}
.item img {
    width: 65%;
    height: auto;
}
.centrar2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba(2, 124, 118, 0.893);
    width: 100%;
    height: 100%;
}
.row {
    width: 100%;
    clear: both; 
}
.column-50 {
    width: 50%;
    float: left; 
    font-family: 'Montserrat', sans-serif;
}
#texto{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.column-img {
    float: right;
}
.column33{
    width: 33%;
    float: left;
}
#row2{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(40, 38, 38, 0.153);
}
#color{
    color:white;
}
#footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}  
iframe{
    width: 600px; 
    height: 450px;
}
@media screen and (max-width: 600px) {
    .contenedor {
        font-size: 20px;
        text-align: center;
    }
    .item img {
        width: 33%;
        display: grid;
    }
    .column-50 {
        width: 100%;
        float: left; 
        font-family: 'Montserrat', sans-serif;
    }
    iframe{
        width: 500px; 
        height: 350px;
    }
    .row {
        width: 100%;
        clear: both; 
    }
    .column33{
        width: 100%;
    }    
    #footer{
        width: 100%;
    }
}